node_modules/
npm-debug.log

# Generated data files
util/out/ExtractedEffectValues.json
util/out/ExtractedNodeDiscriminators.json
util/out/ExtractedNodeEffects.json
util/out/ExtractedNodeLocations.json
util/out/ExtractedNodeLocalizations.json
util/out/ExtractedNodeVariants.json
util/out/NodeCategories.json
util/out/NodeLinks.json
util/out/SkillTree.json
util/out/SkillTreeFinal.json